<div>
  <%= link_to 'Faktúry', root_path, class:"navbar-brand fs-2 my-auto fw-bold float-md-start text-white" %>
  <nav class="nav nav-masthead justify-content-center float-md-end m-0">
    <% if user_signed_in? %>
      <%= link_to "Môj profil", user_path(current_user), class:"nav-link text-white fw-bold px-2" %>
      <%= link_to "Chat s AI", chat_path, class:"nav-link text-white fw-bold px-2" %>
      <%= button_to "Odhlásiť sa", destroy_user_session_path, method: :delete, class:"btn btn-link nav-link fw-bold px-2 text-danger danger" %>
    <% else %>
      <%= link_to "Registrovať sa", new_user_registration_path, class:"nav-link fw-bold px-2" %>
      <%= link_to "Prihlásiť sa", new_user_session_path, class:"nav-link fw-bold px-2 text-info" %>
    <% end %>
  </nav>
</div>