<div class="container my-4" data-controller="chat" data-chat-chat-ask-path-value="<%= chat_ask_path %>">
  <div class="row justify-content-center">
    <div class="col-md-10 col-lg-8">
      <div class="card shadow h-100">
        <div class="card-header bg-primary text-white py-2">
          <h3 class="mb-0">Chat s AI</h3>
        </div>
        <div class="card-body d-flex flex-column p-3" style="min-height: 350px;">
          <div id="chat-messages" class="flex-grow-1 mb-3" style="overflow-y: auto;" data-chat-target="messages">
            <!-- História chatu sa načíta zo session alebo zostane prázdna -->
            <% if @chat_history && @chat_history.any? %>
              <% @chat_history.each do |msg| %>
                <% next if msg[:content].blank? %>
                <div class="<%= if msg[:role] == 'user'
                                    'user'
                                else
                                    msg[:role] == 'assistant' ? 'ai' : 'system'
                                end %>-message mb-3">
                  <p class="<%= msg[:role] == 'user' ? 'text-end' : 'text-start' %>">
                    <span class="<%= msg[:role] == 'user' ? 'bg-light' : 'bg-primary text-white' %> p-2 rounded d-inline-block">
                      <%= sanitize msg[:content] %>
                    </span>
                  </p>
                </div>
              <% end %>
            <% else %>
              <div class="system-message">
                 <p>Vitajte, v chate! Ako vám môžem pomôcť?</p>
              </div>
            <% end %>
          </div>
          <div class="mt-auto">
            <div class="input-group mb-2">
              <label for="prompt-input"></label><input type="text" id="prompt-input" class="form-control" placeholder="Napíšte správu..." data-chat-target="input" data-action="keypress->chat#sendMessageOnEnter">
              <button id="send-button" class="btn btn-primary" data-chat-target="sendButton" data-action="click->chat#sendMessage">Odoslať</button>
            </div>
<!--            <div class="input-group">-->
<!--              <input type="file" id="image-upload" class="form-control" accept="image/*" data-chat-target="imageUpload" data-action="change->chat#handleImageUpload">-->
<!--              <label class="input-group-text" for="image-upload" data-chat-target="imageLabel">Nahrať obrázok</label>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>